<div class="route-4-container">
    <div class="border">
        <div class="row">
            <div class="col-sm-6">
                <app-count-down-timer></app-count-down-timer>
            </div>
            <div class="col-sm-6">
                <app-start-pause-reset></app-start-pause-reset>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-6">
                <app-log></app-log>
            </div>
            <div class="col-sm-6">
                <app-start-pause-counter></app-start-pause-counter>
            </div>
        </div>
    </div>
</div>