<ng-container *ngIf="(studentData$ | async) as studentData; else Loading">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr (click)="increaseCounterAndSortData($event)">
                <th class="col" id="name">Name
                    <span sortingArrowImage [columnCounter]="columnCounter"
                    [column]="'name'"></span>
                </th>
                <th class="col" id="class">Class
                    <span sortingArrowImage [columnCounter]="columnCounter"
                    [column]="'class'"></span>
                </th>
                <th class="col" id="section">Section
                    <span sortingArrowImage [columnCounter]="columnCounter"
                    [column]="'section'"></span>
                </th>
                <th class="col" id="math">Maths
                    <span sortingArrowImage [columnCounter]="columnCounter"
                    [column]="'math'"></span>
                </th>
                <th class="col" id="physics">Physics
                    <span sortingArrowImage [columnCounter]="columnCounter"
                    [column]="'physics'"></span>
                </th>
                <th class="col" id="computer">Computer
                    <span sortingArrowImage [columnCounter]="columnCounter"
                    [column]="'computer'"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of studentData; trackBy:studentID">
                <th>{{data.name}}</th>
                <th>{{data.class}}</th>
                <th>{{data.section}}</th>
                <th>{{data.math}}</th>
                <th>{{data.physics}}</th>
                <th>{{data.computer}}</th>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #Loading>
    <div class="loading">Loading...</div>
</ng-template>