.banner-wrapper {
    padding: 30px;

    .banner {
        border: 3px solid black;
        padding: 25px;
    
        .rotating {
            font-size: 80px;
            color: blue;
        }
    }
}
