<div class="banner">
    <div class="banner">
        <div class="banner">
            <div class="banner">
                <div class="banner">
                    <div class="banner">
                        <div class="banner">
                            <div class="banner">
                                <marquee class="rotating" width="100%" direction="left" height="100px">Welcome to Sapient Assingment Route-1</marquee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>