<div class="banner">
    <div class="banner">
        <div class="banner">
            <div class="banner">
                <div class="banner">
                    <div class="banner">
                        <div class="banner">
                            <div class="banner">
                                <div class="wrapper">
                                    <span>
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                    </span>
                                </div>
                                <div class="wrapper">
                                    <span>
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                        A Floating banner text which keeps on rotating.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>