.banner-wrapper {
    padding: 30px;

    .banner {
        border: 3px solid black;
        padding: 25px;

        .rotating-text-conatiner {
            border: 3px solid black;

            .rotating {
                font-size: 80px;
                color: #15d1ef;
            }
        }
    
    }
}
