<div class="banner-wrapper">
    <div class="banner">
        <div class="banner">
            <div class="banner">
                <div class="banner">
                    <div class="banner">
                        <div class="banner">
                            <div class="banner">
                                <div class="rotating-text-conatiner">
                                    <marquee class="rotating" width="100%" direction="left" height="100px">Welcome To Angular Case Study.</marquee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>